
.card {
    margin: 1rem;
    padding: 1.5rem;
    text-align: center;
    color: inherit;
    text-decoration: none;
    height: 500px;
    width: 350px;
    border-color: transparent;
    border-radius: 2rem;
    background-color: transparent;
  }
  
  .card:hover,
  .card:focus,
  .card:active {
    color: transparent;
    background-color: transparent;
    transition: 1s;
    border-color: transparent;
  }
  
  .card h2 {
    font-size: 1.5rem;
    color: rgba(172, 255, 47, 0.536);
  }
  
  .card p {
    margin: 0;
    font-size: 1rem;
    line-height: 1.5;
    color: rgba(172, 255, 47, 0.536);
  }

  .title_section {
    height: 50px;
  }

  .image {
    border-radius: 50%;
    object-fit: cover;
  }

  .image_section {
    height: 220px;
  }

  .introduction_section {
    height: 70px;
  }

  .button_section {
    height: 10px;
    display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
  }

  .button_itself {
    max-width: 200px;
    border-radius: 5rem;
  }
  .button_itself:hover,
  .button_itself:focus,
  .button_itself:active {
    color: rgba(172, 255, 47, 0.536);
    background-color: white;
    transition: 1s;
    transform: scale(1.1,1.1);
    border-color: transparent;
  }

  .view_button {
    background-color: transparent;
    border-color: transparent;
    /* animation: blinking 3s ease-in-out infinite alternate; */
    animation: anime1 1.5s ease 0s infinite alternate;
    /* animation: anime2 0.5s ease 0s infinite; */
  }

  .button_itself:hover,
  .button_itself:focus,
  .view_button:hover{
    background-color: transparent;
    border-color: transparent;
    animation: none;
  }

  .view_word {
    animation: anime2 1.5s ease 0s infinite alternate;
  }
  .view_word:hover,
  .view_word:focus,
  .view_word:hover{
    background-color: transparent;
    border-color: transparent;
    animation: none;
    font-size: 150%;
    color: white;
  }


  @keyframes anime1 {
    from {
      transform: scale(1.2,1.2);
    }
    to {
      transform: scale(1.5,1.5);
    }
  }

  @keyframes anime2 {
    0% {color: white}
    100% {color:rgba(172, 255, 47, 0.536)}
  }