
.footer {
    display: flex;
    flex: 1;
    padding-top: 1rem;
    height: 60px;
    border-top: 1px solid #eaeaea;
    justify-content: center;
    align-items: center;
    background-color: rgb(194, 182, 182);
  }
  
  .footer p {
    font-weight: bold;
    color: #545454;
  }


  .logo {
    height: 1em;
    margin-left: 0.5rem;
  }
