
.footer {
    display: flex;
    flex: 1;
    padding: 2rem 0;
    height: 60px;
    border-top: 1px solid #eaeaea;
    justify-content: center;
    align-items: center;
    background-color: rgb(194, 182, 182);
  }
  
  .footer a {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
  }

.p {
  font-weight: bold;
  color: #545454;
}
