
.nav Link{
    float: left;
    padding-top: 0px;
    padding-left: 10px;
    list-style-type: none;
    margin-left: 135px;
    font-family:cursive;
    
  }
  
  .nav a {
    text-decoration: none;
    color: white;
    padding: 10px;
    border-radius: 8px;
    transition: 0.5s;
    font-size: 20px;
    color: palegoldenrod;
  
   display: inline-block;
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -o-transition: 0.5s;
    -ms-transition: 0.5s;
    transition: 0.5s;
  
  }
  
  .nav a:hover{
   color: white;
  -webkit-transform: scale(1.8,0);
    -moz-transform: scale(1.8,0);
    -o-transform: scale(1.8,0);
    -ms-transform: scale(1.8,0);
    transform: scale(1.2,1.2);
  
  }

  .header {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

.title a {
    color: #0070f3;
    text-decoration: none;
  }
  
  .title a:hover,
  .title a:focus,
  .title a:active {
    text-decoration: underline;
  }
  
  .title {
    margin: 0;
    line-height: 1.15;
    font-size: 4rem;
  }
  