.container {
  padding: 0 2rem;
  border: 0px;
  margin: 0px;
}

.card {
  padding-left: 40rem;
}

.main {
  min-height: 100vh;
  padding: 4rem 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 0px;
  margin: 0px;
}

.description {
  text-align: center;
}

.description {
  margin: 4rem 0;
  line-height: 1.5;
  font-size: 1.5rem;
}

.code {
  background: #fafafa;
  border-radius: 5px;
  padding: 0.75rem;
  font-size: 1.1rem;
  font-family: Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono,
    Bitstream Vera Sans Mono, Courier New, monospace;
}

.grid {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  max-width: 800px;
}

.logo {
  height: 1em;
  margin-left: 0.5rem;
}

.image {
	margin-right: calc(50% - 50vw);
	margin-left: calc(50% - 50vw);
  position: relative;
  margin-bottom:0;
  padding-bottom:0;
}

.image img {
	display: block;
	width: 100%;
	height: 400;
}

.image p {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  color: lightblue;
  font-weight: bold; /*太字に*/
  font-size: 4em;/*サイズ2倍*/
  font-family: cursive;/*Google Font*/
  margin:0;
  padding:0;
  /*文字の装飾は省略*/
  }

.image button {
  position: absolute;
  background: transparent;
  border: 2px solid transparent;
  top: 70%;
  left: 50%;
  width: 50px;
  height: 50px;
}

.image button:hover {
  transition: 1s;
  transform: scale(1.2,1.2);
  background: transparent;
  border: 2px solid transparent;
}

.background {
  margin-right: calc(50% - 50vw);
	margin-left: calc(50% - 50vw);
  background: linear-gradient(120deg,rgb(21, 21, 164), rgb(210, 111, 128));
  border: 0px;
}

.push {
  width: 30%;
  background: transparent;
  text-decoration: none;
  color: white;
  font-size: 200%;
  font-weight: bold;
  font-family: cursive;
  border: 0px solid transparent;
}

.push:hover {
  transition: 1s;
  transform: scale(1.2,1.2);
  background: transparent;
  border: 2px solid transparent;
}

.view {
  height: 500px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
  border: 0px solid transparent;
}

@media (max-width: 600px) {
  .grid {
    width: 100%;
    flex-direction: column;
  }
}
