.big_container {
  padding: 3rem;
  border: 0px;
  margin: 0px;
}

.container {
  padding: 0 1rem;
  border: 0px;
  margin: 0px;
}

.work_container {
  padding: 0 1rem;
  border: 0px;
  margin: 0px;
   display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
}

.card {
  padding-left: 40rem;
}

.main {
  min-height: 100vh;
  padding: 4rem 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 0px;
  margin: 0px;
  background-color: rgba(0, 0, 0, 0.819);
}

.description {
  text-align: center;
}

.description {
  margin: 4rem 0;
  line-height: 1.5;
  font-size: 1.5rem;
}

.code {
  background: #fafafa;
  border-radius: 5px;
  padding: 0.75rem;
  font-size: 1.1rem;
  font-family: Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono,
    Bitstream Vera Sans Mono, Courier New, monospace;
}

.grid {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  background: rgba(0, 0, 0, 0.819);
}

.image {
	margin-right: calc(50% - 50vw);
	margin-left: calc(50% - 50vw);
  position: relative;
  margin-bottom:0;
  padding-bottom:0;
  height: 900px;
  background-color: rgba(0, 0, 0, 0.819);

  animation:boundx 1.73s linear infinite alternate, boundy 1s linear infinite alternate;
  background-image:radial-gradient(30px,rgba(172, 255, 47, 0.536) 80%,rgba(0, 0, 0, 0.819) 100%);
  background-size:50px 50px;
  background-repeat:no-repeat;
}

.image img {
	display: block;
	width: 100%;
	height: 400;
}

.image p {
  position: absolute;
  top: 35%;
  left: 50%;
  transform: translate(-50%,-50%);
  color: rgba(172, 255, 47, 0.536);
  font-weight: bold; /*太字に*/
  font-size: 4em;/*サイズ2倍*/
  font-family: cursive;/*Google Font*/
  margin:0;
  padding:0;
  /*文字の装飾は省略*/
  }

.image button {
  position: absolute;
  background: transparent;
  border: 2px solid transparent;
  top: 70%;
  left: 50%;
  width: 50px;
  height: 50px;
}

.image button:hover {
  transition: 1s;
  transform: scale(1.5,1.5);
  background: transparent;
  border: 2px solid transparent;
}

.background {
  margin-right: calc(50% - 50vw);
	margin-left: calc(50% - 50vw);
  background-color: rgba(0, 0, 0, 0.819);
  border: 0px;
  height: 600px;
}

.push {
  width: 30%;
  background: transparent;
  text-decoration: none;
  color: rgba(172, 255, 47, 0.536);
  font-size: 200%;
  font-weight: bold;
  font-family: cursive;
  border: transparent;
}

.push:hover {
  transition: 1s;
  transform: scale(1.2,1.2);
  background: transparent;
  border: 2px solid transparent;
}
.push:active {
  border: transparent;
  background: transparent;
}

.view {
  height: 500px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
  border: transparent;
}

.my_works {
  font-size: 350%;
  font-weight: bold;
  font-family: cursive;
  color:rgba(172, 255, 47, 0.536);
}


.contact_words {
  color: rgba(172, 255, 47, 0.536);
  padding: 10px 0px;
}

.send {
  background-color: rgba(172, 255, 47, 0.536);
  padding: 4px 8px;
  border-radius: 10px;
  color: rgba(0, 0, 0, 0.819);
}

.send:hover {
  transition: 1s;
  transform: scale(1.1,1.1);
}

@media (max-width: 600px) {
  .grid {
    width: 100%;
    flex-direction: column;
  }
}

@keyframes boundx{
  0%{background-position-x:0%;}
  100%{background-position-x:100%;}
  }

@keyframes boundy{
  0%{background-position-y:100%;}
  33%{background-position-y:45%;}
  66%{background-position-y:15%;}
  100%{background-position-y:0%;}
}
